In [20]:
# Utilisez pandas pour lire le fichier dans un Dataframe pandas.
import pandas as pd
import numpy as np
df =pd.read_csv("EDUCATION_ATTAINMENT.csv")
#df

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 626 entries, 0 to 625
Data columns (total 38 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Ages[15-49]_All_grade1     626 non-null    float64
 1   Ages[15-49]_All_grade2     626 non-null    float64
 2   Ages[15-49]_All_grade3     626 non-null    float64
 3   Ages[20-29]_All_grade1     626 non-null    float64
 4   Ages[20-29]_All_grade2     626 non-null    float64
 5   Ages[20-29]_All_grade3     626 non-null    float64
 6   Ages[30-39]_All_grade1     625 non-null    float64
 7   Ages[30-39]_All_grade2     625 non-null    float64
 8   Ages[30-39]_All_grade3     625 non-null    float64
 9   Ages[40-49]_All_grade1     625 non-null    float64
 10  Ages[40-49]_All_grade2     625 non-null    float64
 11  Ages[40-49]_All_grade3     625 non-null    float64
 12  Ages[15-49]_Male_grade1    626 non-null    float64
 13  Ages[15-49]_Male_grade2    626 non-null    float64
 14  Ages[15-49]_Male_grade3    626 non-null    float64
 15  Ages[20-29]_Male_grade1    626 non-null    float64
 16  Ages[20-29]_Male_grade2    626 non-null    float64
 17  Ages[20-29]_Male_grade3    626 non-null    float64
 18  Ages[30-39]_Male_grade1    625 non-null    float64
 19  Ages[30-39]_Male_grade2    625 non-null    float64
 20  Ages[30-39]_Male_grade3    625 non-null    float64
 21  Ages[40-49]_Male_grade1    625 non-null    float64
 22  Ages[40-49]_Male_grade2    625 non-null    float64
 23  Ages[40-49]_Male_grade3    625 non-null    float64
 24  Ages[15-49]_Female_grade1  626 non-null    float64
 25  Ages[15-49]_Female_grade2  626 non-null    float64
 26  Ages[15-49]_Female_grade3  626 non-null    float64
 27  Ages[20-29]_Female_grade1  626 non-null    float64
 28  Ages[20-29]_Female_grade2  626 non-null    float64
 29  Ages[20-29]_Female_grade3  626 non-null    float64
 30  Ages[30-39]_Female_grade1  625 non-null    float64
 31  Ages[30-39]_Female_grade2  625 non-null    float64
 32  Ages[30-39]_Female_grade3  625 non-null    float64
 33  Ages[40-49]_Female_grade1  625 non-null    float64
 34  Ages[40-49]_Female_grade2  625 non-null    float64
 35  Ages[40-49]_Female_grade3  625 non-null    float64
 36  country                    626 non-null    object
 37  year                       626 non-null    int64
dtypes: float64(36), int64(1), object(1)
memory usage: 186.0+ KB

In [9]:
df.describe()

,Ages[15-49]_All_grade1,Ages[15-49]_All_grade2,Ages[15-49]_All_grade3,Ages[20-29]_All_grade1,Ages[20-29]_All_grade2,Ages[20-29]_All_grade3,Ages[30-39]_All_grade1,Ages[30-39]_All_grade2,Ages[30-39]_All_grade3,Ages[40-49]_All_grade1,...,Ages[20-29]_Female_grade1,Ages[20-29]_Female_grade2,Ages[20-29]_Female_grade3,Ages[30-39]_Female_grade1,Ages[30-39]_Female_grade2,Ages[30-39]_Female_grade3,Ages[40-49]_Female_grade1,Ages[40-49]_Female_grade2,Ages[40-49]_Female_grade3,year
count,626.000000,626.000000,626.000000,626.000000,626.000000,626.000000,625.000000,625.000000,625.000000,625.000000,...,626.000000,626.000000,626.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,626.000000
mean,0.873886,0.861490,0.837509,0.823849,0.812738,0.789965,0.766171,0.752519,0.724980,0.709166,...,0.790544,0.778972,0.755644,0.719020,0.704342,0.675526,0.646864,0.628309,0.593585,2005.049521
std,0.162624,0.166895,0.176555,0.200559,0.202587,0.207979,0.236563,0.237679,0.240681,0.259998,...,0.236541,0.238637,0.243755,0.278133,0.279059,0.281139,0.302723,0.302637,0.301434,7.894248
min,0.251917,0.244071,0.233274,0.079610,0.079610,0.079610,0.098059,0.091358,0.085236,0.036549,...,0.029662,0.029662,0.029662,0.060930,0.058368,0.053241,0.022547,0.022022,0.020972,1981.000000
25%,0.831791,0.803131,0.757465,0.744915,0.723418,0.678869,0.639447,0.612464,0.561545,0.527055,...,0.678596,0.658977,0.616380,0.534060,0.508218,0.463656,0.400638,0.372404,0.330846,2000.000000
50%,0.948926,0.935167,0.909587,0.910132,0.896568,0.864849,0.853861,0.831246,0.794898,0.785356,...,0.900869,0.887206,0.853414,0.815823,0.794049,0.749927,0.719924,0.686513,0.625602,2005.000000
75%,0.984447,0.980112,0.971166,0.973777,0.967410,0.955625,0.959097,0.948259,0.922841,0.937129,...,0.974514,0.968962,0.959495,0.958022,0.946510,0.920707,0.929507,0.914777,0.875928,2011.000000
max,1.000000,1.000000,1.000000,1.000000,0.999824,0.999264,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,0.999777,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2020.000000

In [10]:
# voir les valeurs manquantes
df.isna().sum()

Ages[15-49]_All_grade1       0
Ages[15-49]_All_grade2       0
Ages[15-49]_All_grade3       0
Ages[20-29]_All_grade1       0
Ages[20-29]_All_grade2       0
Ages[20-29]_All_grade3       0
Ages[30-39]_All_grade1       1
Ages[30-39]_All_grade2       1
Ages[30-39]_All_grade3       1
Ages[40-49]_All_grade1       1
Ages[40-49]_All_grade2       1
Ages[40-49]_All_grade3       1
Ages[15-49]_Male_grade1      0
Ages[15-49]_Male_grade2      0
Ages[15-49]_Male_grade3      0
Ages[20-29]_Male_grade1      0
Ages[20-29]_Male_grade2      0
Ages[20-29]_Male_grade3      0
Ages[30-39]_Male_grade1      1
Ages[30-39]_Male_grade2      1
Ages[30-39]_Male_grade3      1
Ages[40-49]_Male_grade1      1
Ages[40-49]_Male_grade2      1
Ages[40-49]_Male_grade3      1
Ages[15-49]_Female_grade1    0
Ages[15-49]_Female_grade2    0
Ages[15-49]_Female_grade3    0
Ages[20-29]_Female_grade1    0
Ages[20-29]_Female_grade2    0
Ages[20-29]_Female_grade3    0
Ages[30-39]_Female_grade1    1
Ages[30-39]_Female_grade2    1
Ages[30-39]_Female_grade3    1
Ages[40-49]_Female_grade1    1
Ages[40-49]_Female_grade2    1
Ages[40-49]_Female_grade3    1
country                      0
year                         0
dtype: int64

In [11]:
# valeur manquante = true 
df.isna()

,Ages[15-49]_All_grade1,Ages[15-49]_All_grade2,Ages[15-49]_All_grade3,Ages[20-29]_All_grade1,Ages[20-29]_All_grade2,Ages[20-29]_All_grade3,Ages[30-39]_All_grade1,Ages[30-39]_All_grade2,Ages[30-39]_All_grade3,Ages[40-49]_All_grade1,...,Ages[20-29]_Female_grade2,Ages[20-29]_Female_grade3,Ages[30-39]_Female_grade1,Ages[30-39]_Female_grade2,Ages[30-39]_Female_grade3,Ages[40-49]_Female_grade1,Ages[40-49]_Female_grade2,Ages[40-49]_Female_grade3,country,year
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
621,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
622,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
623,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
624,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
625,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [14]:
#Utilisez ydata-profiling pour générer un rapport de l'ensemble de données fourni.
from ydata_profiling import ProfileReport

profile = ProfileReport(df)

# Sauvegarder le rapport dans un fichier HTML
profile.to_file('rapport.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [21]:
#profile

In [22]:
#Recherchez les valeurs manquantes dans l'ensemble de données. 

""" Les catégories suivantes ne présentent pas de valeurs manquantes pour les groupes
d'âge : 
15-49 All-grade 1, 2, 3 
20-29 All-grade 1, 2, 3
Les catégories suivantes ont chacune 1 valeur manquante et représentent 0,2% de cellules manquantes :

30-39 All-grade 1, 2, 3
40-49 All-grade 1, 2, 3
15-49 Male-grade 1, 2, 3
30-39 Male-grade  1, 2, 3
Cela signifie que pour les groupes d'âge et les niveaux de grade mentionnés ci-dessus,
il y a quelques données manquantes, et ces données manquantes représentent environ 0,2% de l'ensemble des données de chaque
catégorie."""

" Les catégories suivantes ne présentent pas de valeurs manquantes pour les groupes\nd'âge : \n15-49 All-grade 1, 2, 3 \n20-29 All-grade 1, 2, 3\nLes catégories suivantes ont chacune 1 valeur manquante et représentent 0,2% de cellules manquantes :\n\n30-39 All-grade 1, 2, 3\n40-49 All-grade 1, 2, 3\n15-49 Male-grade 1, 2, 3\n30-39 Male-grade  1, 2, 3\nCela signifie que pour les groupes d'âge et les niveaux de grade mentionnés ci-dessus,\nil y a quelques données manquantes, et ces données manquantes représentent environ 0,2% de l'ensemble des données de chaque\ncatégorie."

In [23]:
#Examinez les corrélations entre les différentes colonnes de l’ensemble de données. 
#on examinant les données nous avons remarqué qu'il y'a pas assez de differences entre les colonnes

In [17]:
# Identifiez tous les autres modèles ou informations intéressants dans l'ensemble de données que vous
# pouvez découvrir grâce au rapport de profilage ydata.

"""1) les valeurs manquantes
2) les correlation entre les colonnes
3) les variables
4) les lignes en doubles """

'1) les valeurs manquantes\n2) les correlation entre les colonnes\n3) les variables\n4) les lignes en doubles '

Rédigez un résumé de vos résultats sur la base du rapport de profilage des données y.
 Assurez-vous d'inclure tous les modèles ou informations intéressants que vous avez découverts dans l'ensemble de données.


le ydata-profiling report nous affiche plusieurs aspects importants des données, notamment les statistiques descriptives,
les valeurs manquantes, les corrélations et les outliers.